.border-toggle {
  border: 1px solid black;
}
.pointer-event-none {
  pointer-events: none !important;
}
.mainMenu {
  padding: 10px;
  display: none;
  position: fixed;
  z-index: 10000001;
  right: 10px;
  top: 10px;
}
.mainMenu .divFontSize {
  width: 100px;
  height: 50px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
#selectFontSize {
  min-width: 80px;
  min-height: 30px;
}
